{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Kay Programmer</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static '/css/owl.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static '/css/lightbox.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  </head>

  <body>
    {% for s in skills %}
    <style>
      .service-item #skill-icon-{{s.id}} {
          background-image: url({{s.image.url}});
      }

      .service-item:hover #skill-icon-{{s.id}} {
          background-image: url({{s.image_hover.url}});
      }
    
    </style>
    {% endfor %}
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          {% for a in about %}
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <img id="myImg" class="dev-img" style="cursor: pointer; object-fit: cover; object-position: top;" src="{{a.avatar.url}}" alt="" />
            </div>

            <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close">&times;</span>
            
              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
            
              <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
            </div>

            <div class="author-content">

              <h4>{{a.name}}</h4>
              <span>Full-stack Developer</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">About Me</a></li>
                <li><a href="#section2">What I’m good at</a></li>
                <li><a href="#section3">My Work</a></li>
                <li><a href="#section4">Contact Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                
                <li>
                  <a href="{{a.facebook}}"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="{{a.twitter}}"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="{{a.linkedin}}"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="{{a.instagram}}"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="{{a.whatsapp}}"><i class="fa fa-whatsapp"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>Copyright {% now "Y" %} Kay Programmer</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            {% for a in about %}
            <h2>{{a.title_head }}</h2>
            <div class="line-dec"></div>
            <span>{{a.body}}</span>
            {% endfor %}
          </div>
          {% for w in works %}
          {% if not forloop.counter|divisibleby:2 %}
          <div class="{% if forloop.first %}left{% else %}right{% endif %}-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img style="min-height: 330px; max-height: 330px; object-fit:cover;" src="{{w.image.url}}" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>{{w.title}}</h4>
                  <p>{{w.desc|safe}}</p>
                  <div class="white-button">
                    {% if w.link == None %}
                    <a href="#" >Inactive</a>
                    {% else %}
                    <a href="{{w.link}}">Link</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>{{w.title}}</h4>
                  <p>{{w.desc|safe}}</p>
                  <div class="white-button">
                    {% if w.link == None %}
                    <a href="#">Inactive</a>
                    {% else %}
                    <a href="{{w.link}}">Link</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="{{w.image.url}}" alt="" />
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>What I’m good at?</h2>
            <div class="line-dec"></div>
            <span
              >Here are a few programming and full-stack development skills I'm well acquainted with...</span
            >
          </div>
          <div class="row">
            {% for s in skills %}
            <div class="col-md-6">
              <div class="service-item">
                <div id="skill-icon-{{s.id}}" class="first-service-icon service-icon"></div>
                <h4>{{s.skill_name}}</h4>
                <p>{{s.desc|safe}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>My Work</h2>
            <div class="line-dec"></div>
            <span
              >Check out a few projects I've worked on as a full-stack developer. Click or hover these images to see details.</span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label
                  ><input
                    type="radio"
                    data-type="*"
                    checked=""
                    name="isotope-filter"
                  />
                  <span>all</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="web"
                    name="isotope-filter"
                  />
                  <span>web</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="mobile"
                    name="isotope-filter"
                  />
                  <span>mobile</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="others"
                    name="isotope-filter"
                  />
                  <span>others</span></label
                >
              </form>
              <div class="isotope-box">
                {% for p in portfolios %}
                <div class="isotope-item" data-type="{% if p.web == True %}web{% elif p.mobile == True %}mobile{% elif p.others == True %}others{% endif %}">
                  <figure class="snip1321">
                    <img
                      src="{{p.image.url}}"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="{{p.image.url}}"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>{{p.title}}</h4>
                      <span>{{p.desc|safe}}</span>
                      <a class="btn btn-primary btn-sm mt-2" target="_blank" href="{{p.link}}" style="color: white;">Access</a>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            {% for a in about %}
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
            <span>{{a.contact_body}}</span>
            {% endfor %}
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="." method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static '/js/isotope.min.js' %}"></script>
    <script src="{% static '/js/owl-carousel.js' %}"></script>
    <script src="{% static '/js/lightbox.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script>

      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });

      var modal = document.getElementById("myModal");

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById("myImg");
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

    </script>
    
    {% load sweetify %}
    {% sweetify %}

  </body>
</html>
